@import './variables';

/*<!--=============== GENERAL STYLES  ===============-->*/

h1 {
    font-size: 48px;
    margin-bottom: 27px;
    font-weight: 600;
    transform: none;
    text-transform: uppercase;
}

h2 {
    color: $principalColor;
}

.pgindex {
    h1 {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    h2 {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    h3 {
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    .mainText {
        font-size: 16px;
        color: #504e4e;
        line-height: 34px;
        letter-spacing: 0.5px;
    }
}

.title-section {
    flex-wrap: wrap;
}

.full {
    width: 100%;
}

.alignleft {
    float: left;
    padding: 20px;
}

#scrollDiv {
    height: 25px;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    width: 100%;
    justify-content: right;
}

#scrollTop {
    background: #333;
    width: 40px;
    border-radius: 4px 4px 0 0;
    position: absolute;
    right: 1%;
    display: flex;
    justify-content: center;
    color: white;
    pointer-events: auto;
    opacity: .9;
    &:hover {
        background: $menuHover;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.hr {
    overflow: hidden;
}

.full {
    padding: 0px;
    margin: 0px;
    width: 100%;
    justify-content: stretch!important;
    display: block!important;
}

.circleIcon {
    width: 100px;
    height: 100px;
    background: #6a6a6a;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    svg {
        width: 60%;
        height: 60%;
        fill: white;
    }
}

.hr-curve {
    height: 200px;
}

$curveWidth: 200%;
.color1 {
    padding: 0px;
    margin: 0px;
    &>div {
        color: black;
        background-color: white;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .svgCurve {
        fill: #44405a;
        width: $curveWidth;
        height: 180px;
    }
    &.invert {
        background-color: #44405a!important;
        .svgCurve {
            fill: white;
        }
    }
}

.color2 {
    padding: 0px;
    margin: 0px;
    div {
        color: white;
        background-color: $menuBackground;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
    .svgCurve {
        fill: white;
        height: 100%;
        width: $curveWidth;
        background: $menuBackground;
    }
    &.invert {
        background-color: #44405a!important;
        .svgCurve {
            fill: white;
            transform: rotate(180deg);
        }
    }
}

.parallax {
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*<!--=============== Gallery  ===============-->*/

.blocks-gallery-grid {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blocks-gallery-item__caption {
    width: 100%;
    background: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    top: -70px;
    position: relative;
    transition: top .9s ease;
}

.blocks-gallery-item {
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: self-end;
    overflow: hidden;
    img {
        display: block;
        height: 100%;
        position: relative;
        z-index: 100;
    }
    figcaption {
        position: relative;
        //opacity: 0;
        overflow: hidden;
    }
    &:hover {
        figcaption {
            opacity: 1;
            overflow: hidden;
        }
        .blocks-gallery-item__caption {
            top: 0;
        }
    }
}

.columns-1 {
    li {
        min-width: 100%;
    }
}

.columns-2 {
    li {
        min-width: 50%;
    }
}

.columns-3 {
    li {
        min-width: 33.3%;
    }
}

.columns-4 {
    .blocks-gallery-item {
        img {
            height: auto;
        }
    }
    li {
        min-width: 25%;
    }
}

.columns-5 {
    .blocks-gallery-item {
        img {
            height: auto;
        }
    }
    li {
        min-width: 20%;
    }
}

.columns-6 {
    .blocks-gallery-item {
        img {
            height: auto;
        }
    }
    li {
        min-width: 15%;
    }
}


/* Flashing */

.blocks-gallery-item figure:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}


/*<!--=============== MEDIAQUERY BEGINGS  ===============-->*/


/*<!--=============== IOS DEVICES ===============-->*/

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
}


/* --------- Desktop  si es amyor que ipad 780px  ------ */

@media only screen and (min-width: $ipad) {
    .pgindex {
        h1 {
            font-size: 60px;
            line-height: 75px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }
        h2 {
            font-size: 60px;
            line-height: 75px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }
        h3 {
            font-size: 50px;
            line-height: 75px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }
        .mainText {
            font-size: 22px;
            color: #504e4e;
            line-height: 34px;
            letter-spacing: 0.5px;
        }
    }
}


/* ----------- laptops si es mas grande que ipad pero heigh ----------- */

@media only screen and (min-width: $ipad) and (max-height: 970px) {}


/* ----------- iPad in landscape ----------- */

// @media only screen and (max-width: 778px) {
@media only screen and (max-device-width: $ipad) and (orientation: landscape) {}


/* ----------- smaller than 360px ----------- */

@media only screen and (min-device-width: 360px) {
    /*<!--=============== IOS DEVICES ===============-->*/
    @supports (-webkit-touch-callout: none) {
        /* CSS specific to iOS devices */
    }
    /*<!--=============== NOT IOS DEVICES ===============-->*/
    @supports not (-webkit-touch-callout: none) {
        /* CSS for other than iOS devices */
    }
}

//When keyboard is present hide slideshow
@media screen and (max-width: $ipad) and (max-height: 450px) {}