:root {
  --secondColor: black;
  --gray: #767676;
  --menuFontColor:  black;
  --fontSizeBigX: 1.2rem;
  --fontSizeBig: 1rem;
  --menuFontSize:  0.8rem;
  --fontSizeRegular: 0.8rem;
  --fontSizeSmallX: 0.6rem;
  --fontSizeSmallX: 0.4rem;
}

/*<!--=============== GENERAL STYLES  ===============-->*/
h1 {
  font-size: 48px;
  margin-bottom: 27px;
  font-weight: 600;
  -webkit-transform: none;
          transform: none;
  text-transform: uppercase;
}

h2 {
  color: #E70F0F;
}

.title-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.full {
  width: 100%;
}

#scrollDiv {
  height: 25px;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#scrollTop {
  background: #333;
  width: 40px;
  border-radius: 4px 4px 0 0;
  position: absolute;
  right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  pointer-events: auto;
  opacity: .9;
}

#scrollTop:hover {
  background: #a579eb;
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hr {
  overflow: hidden;
}

.circleIcon {
  width: 100px;
  height: 100px;
  background: #6a6a6a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}

.circleIcon svg {
  width: 60%;
  height: 60%;
  fill: white;
}

.hr-curve {
  height: 200px;
}

.color1 {
  padding: 0px;
  margin: 0px;
}

.color1 > div {
  color: black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color1 .svgCurve {
  fill: #44405a;
  width: 200%;
  height: 180px;
}

.color1.invert {
  background-color: #44405a !important;
}

.color1.invert .svgCurve {
  fill: white;
}

.color2 {
  padding: 0px;
  margin: 0px;
}

.color2 div {
  color: white;
  background-color: #2a0d58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color2 .svgCurve {
  fill: white;
  height: 100%;
  width: 200%;
  background: #2a0d58;
}

.color2.invert {
  background-color: #44405a !important;
}

.color2.invert .svgCurve {
  fill: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.parallax {
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*<!--=============== Gallery  ===============-->*/
.blocks-gallery-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blocks-gallery-item {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  overflow: hidden;
}

.blocks-gallery-item img {
  display: block;
  height: 100%;
}

.blocks-gallery-item figcaption {
  position: relative;
  overflow: hidden;
}

.blocks-gallery-item figcaption strong {
  top: -30px;
  position: relative;
  -webkit-transition: top .9s ease;
  transition: top .9s ease;
}

.blocks-gallery-item:hover figcaption {
  opacity: 1;
  overflow: hidden;
}

.blocks-gallery-item:hover figcaption strong {
  top: 0;
}

.columns-1 li {
  min-width: 100%;
}

.columns-2 li {
  min-width: 50%;
}

.columns-3 li {
  min-width: 33.3%;
}

.columns-4 .blocks-gallery-item img {
  height: auto;
}

.columns-4 li {
  min-width: 25%;
}

.columns-5 .blocks-gallery-item img {
  height: auto;
}

.columns-5 li {
  min-width: 20%;
}

.columns-6 .blocks-gallery-item img {
  height: auto;
}

.columns-6 li {
  min-width: 15%;
}

/* Flashing */
figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=utils.css.map */