:root {
  --secondColor: black;
  --gray: #767676;
  --menuFontColor:  black;
  --fontSizeBigX: 1.2rem;
  --fontSizeBig: 1rem;
  --menuFontSize:  0.8rem;
  --fontSizeRegular: 0.8rem;
  --fontSizeSmallX: 0.6rem;
  --fontSizeSmallX: 0.4rem;
}

/*<!--=============== GENERAL STYLES  ===============-->*/
h1 {
  font-size: 48px;
  margin-bottom: 27px;
  font-weight: 600;
  -webkit-transform: none;
          transform: none;
  text-transform: uppercase;
}

h2 {
  color: #E70F0F;
}

h2.gradient-red {
  color: #bc202e;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
  line-height: initial !important;
  font-size: 50px !important;
}

h2.gradient-blue {
  background: linear-gradient(25deg, #1d8cff 0%, #30cfd0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
  line-height: initial !important;
  font-size: 50px !important;
}

h2.gradient-purple {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
  line-height: initial !important;
  font-size: 50px !important;
}

.pgindex .awssld__wrapper img {
  width: 100%;
}

.pgindex img {
  max-width: initial;
}

.pgindex h1 {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.pgindex h2 {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.pgindex h3 {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.pgindex .mainText {
  font-size: 16px;
  color: #504e4e;
  line-height: 34px;
  letter-spacing: 0.5px;
}

.box h2 {
  font-size: 22px;
  text-transform: uppercase;
}

.section {
  min-height: 800px;
}

.pgindex .mainText div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pgindex .boxes2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.full {
  width: 100%;
}

.alignleft {
  float: left;
  padding: 20px;
}

#scrollDiv {
  height: 25px;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#scrollTop {
  background: #333;
  width: 40px;
  border-radius: 4px 4px 0 0;
  position: absolute;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  pointer-events: auto;
  opacity: .9;
}

#scrollTop:hover {
  background: #fdeae9;
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hr {
  overflow: hidden;
}

.full {
  padding: 0px;
  margin: 0px;
  width: 100%;
  -webkit-box-pack: stretch !important;
      -ms-flex-pack: stretch !important;
          justify-content: stretch !important;
  display: block !important;
}

.circleIcon {
  width: 100px;
  height: 100px;
  background: #6a6a6a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}

.circleIcon svg {
  width: 60%;
  height: 60%;
  fill: white;
}

.hr-curve {
  height: 200px;
}

.color1 {
  padding: 0px;
  margin: 0px;
}

.color1 > div {
  color: black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color1 .svgCurve {
  fill: #44405a;
  width: 200%;
  height: 180px;
}

.color1.invert {
  background-color: #44405a !important;
}

.color1.invert .svgCurve {
  fill: white;
}

.color2 {
  padding: 0px;
  margin: 0px;
}

.color2 div {
  color: white;
  background-color: #cf1918;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color2 .svgCurve {
  fill: white;
  height: 100%;
  width: 200%;
  background: #cf1918;
}

.color2.invert {
  background-color: #44405a !important;
}

.color2.invert .svgCurve {
  fill: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.parallax {
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.bgBlue {
  background: #002256;
}

.div-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box h2 {
  height: auto;
}

.boxes2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxes2 div .box {
  width: 100%;
  font-size: 16px;
  padding: 0px;
}

.boxes2 div img {
  margin: 0px auto;
  margin-bottom: 50px;
  max-width: 100%;
  height: auto;
}

.boxes3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxes3 div .box {
  width: 33%;
  font-size: 16px;
  padding: 20px;
}

.boxes3 div img {
  margin: 0px auto;
  margin-bottom: 50px;
}

.boxes4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxes4 div .box {
  width: 50%;
  font-size: 16px;
  padding: 20px;
}

.boxes4 div img {
  margin: 0px auto;
  margin-bottom: 50px;
}

/* Zoom Out #2 */
.hover04 img {
  width: 400px;
  height: auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover04:hover img {
  width: 300px;
}

/* Rotate */
.hover06 img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.hover06:hover img {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/*<!--=============== Gallery  ===============-->*/
.blocks-gallery-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blocks-gallery-item__caption {
  width: 100%;
  background: #ffffff;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  top: -70px;
  position: relative;
  -webkit-transition: top .9s ease;
  transition: top .9s ease;
}

.blocks-gallery-item {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  overflow: hidden;
}

.blocks-gallery-item img {
  display: block;
  height: 100%;
  position: relative;
  z-index: 100;
}

.blocks-gallery-item figcaption {
  position: relative;
  overflow: hidden;
}

.blocks-gallery-item:hover figcaption {
  opacity: 1;
  overflow: hidden;
}

.blocks-gallery-item:hover .blocks-gallery-item__caption {
  top: 0;
}

.size-full {
  max-width: initial;
}

.columns-1 li {
  min-width: 100%;
}

.columns-2 li {
  min-width: 50%;
}

.columns-3 li {
  min-width: 33.3%;
}

.columns-4 .blocks-gallery-item img {
  height: auto;
}

.columns-4 li {
  min-width: 25%;
}

.columns-5 .blocks-gallery-item img {
  height: auto;
}

.columns-5 li {
  min-width: 20%;
}

.columns-6 .blocks-gallery-item img {
  height: auto;
}

.columns-6 li {
  min-width: 15%;
}

#formbasic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#formbasic div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10% auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#formbasic .box {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

#formbasic h2 {
  color: black;
  margin: 0px;
  padding: 0px;
  font-size: 5vw;
}

#formbasic form {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  border-top-style: solid;
  border-color: #fdeae9;
  border-top-width: 5px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  margin: 10%;
}

#formbasic form fieldset {
  border: none;
}

#formbasic form label {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  min-width: 20%;
  color: gray;
}

#formbasic form textarea#message {
  min-height: 150px;
  min-width: 80%;
}

#formbasic form input:not([type]),
#formbasic form input[type=text],
#formbasic form input[type=password],
#formbasic form input[type=email],
#formbasic form input[type=url],
#formbasic form input[type=time],
#formbasic form input[type=date],
#formbasic form input[type=datetime],
#formbasic form input[type=datetime-local],
#formbasic form input[type=tel],
#formbasic form input[type=number],
#formbasic form input[type=search],
#formbasic form textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn, .btn-large, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  margin: 20px;
}

.send {
  text-decoration: none;
  color: #fff;
  background-color: #fdeae9;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(buttontext, #aaaaaa);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(#efefef, #4a4a4a);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(#767676, #c3c3c3);
  -o-border-image: initial;
     border-image: initial;
}

/* Flashing */
.blocks-gallery-grid li {
  min-width: 50%;
}

.blocks-gallery-item figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

/*<!--=============== MEDIAQUERY BEGINGS  ===============-->*/
/*<!--=============== IOS DEVICES ===============-->*/
/* --------- Desktop  si es amyor que ipad 780px  ------ */
@media only screen and (min-width: 768px) {
  .pgindex h1 {
    font-size: auto;
    line-height: 75px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  .pgindex h2 {
    font-size: auto;
    line-height: 75px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  .pgindex h3 {
    font-size: auto;
    line-height: 75px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  .pgindex .mainText {
    font-size: auto;
    color: #504e4e;
    line-height: 34px;
    letter-spacing: 0.5px;
  }
  .blocks-gallery-grid li {
    min-width: 33%;
  }
  .pgindex .mainText div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pgindex .boxes2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boxes4 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .boxes4 div .box {
    width: 25%;
  }
  .boxes2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .boxes2 div .box {
    width: 50%;
  }
}

/* ----------- laptops si es mas grande que ipad pero heigh ----------- */
/* ----------- iPad in landscape ----------- */
/* ----------- smaller than 360px ----------- */
@media only screen and (min-device-width: 360px) {
  /*<!--=============== IOS DEVICES ===============-->*/
  /*<!--=============== NOT IOS DEVICES ===============-->*/
}
/*# sourceMappingURL=utils.css.map */