@import './variables';

/*<!--=============== GENERAL STYLES  ===============-->*/

h1 {
    font-size: 48px;
    margin-bottom: 27px;
    font-weight: 600;
    transform: none;
    text-transform: uppercase;
}

h2 {
    color: $principalColor;
}
h2.gradient-red {
    color: #bc202e;
   // background: linear-gradient(45deg, #e7af0f 10%, #d80000 90%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    z-index: 20;
    line-height: initial !important;
    font-size: 50px !important;
}
h2.gradient-blue  {
    background: linear-gradient(25deg, #1d8cff 0%, #30cfd0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    z-index: 20;
    line-height: initial!important;
    font-size: 50px!important;
}

h2.gradient-purple {
    // background: linear-gradient(25deg, #16aad6 0%, #30d0ff 10%, #e7fd0c 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    z-index: 20;
    line-height: initial!important;
    font-size: 50px!important;
}

.pgindex {
    .awssld__wrapper{
        img{
            width: 100%;
        }
    }
    img {
        max-width: initial;
    }

    h1 {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    h2 {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    h3 {
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    .mainText {
        font-size: 16px;
        color: #504e4e;
        line-height: 34px;
        letter-spacing: 0.5px;
    }
}

.section {
    min-height: 800px;
}

.pgindex {

    .mainText {
        div {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .boxes2 {
        div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
             align-items: center;
            
        }
    }
}

.title-section {
    flex-wrap: wrap;
}

.full {
    width: 100%;
}

.alignleft {
    float: left;
    padding: 20px;
}

#scrollDiv {
    height: 25px;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    width: 100%;
    justify-content: right;
}

#scrollTop {
    background: #333;
    width: 40px;
    border-radius: 4px 4px 0 0;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    color: white;
    pointer-events: auto;
    opacity: .9;
    &:hover {
        background: $menuHover;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.hr {
    overflow: hidden;
}

.full {
    padding: 0px;
    margin: 0px;
    width: 100%;
    justify-content: stretch!important;
    display: block!important;
}

.circleIcon {
    width: 100px;
    height: 100px;
    background: #6a6a6a;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    svg {
        width: 60%;
        height: 60%;
        fill: white;
    }
}

.hr-curve {
    height: 200px;
}

$curveWidth: 200%;
.color1 {
    padding: 0px;
    margin: 0px;
    &>div {
        color: black;
        background-color: white;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .svgCurve {
        fill: #44405a;
        width: $curveWidth;
        height: 180px;
    }
    &.invert {
        background-color: #44405a!important;
        .svgCurve {
            fill: white;
        }
    }
}

.color2 {
    padding: 0px;
    margin: 0px;
    div {
        color: white;
        background-color: $menuBackground;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
    .svgCurve {
        fill: white;
        height: 100%;
        width: $curveWidth;
        background: $menuBackground;
    }
    &.invert {
        background-color: #44405a!important;
        .svgCurve {
            fill: white;
            transform: rotate(180deg);
        }
    }
}

.parallax {
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.bgBlue {
    background: #002256;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    flex-direction: column;
    h2 {
        height: auto;
    }
}

.boxes2 div {
    display: flex;
    .box {
        width: 100%;
        font-size: 16px;
        padding: 0px;
    }
    img {
        margin: 0px auto;
        margin-bottom: 50px;
        max-width: 100%;
        height: auto;
    }
}

.boxes3 div {
    display: flex;
    .box {
        width: 33%;
        font-size: 16px;
        padding: 20px;
    }
    img {
        margin: 0px auto;
        margin-bottom: 50px;
    }
}

.boxes4 div {
    display: flex;
    .box {
        width: 50%;
        font-size: 16px;
        padding: 20px;
    }
    img {
        margin: 0px auto;
        margin-bottom: 50px;
    }
}

/* Zoom Out #2 */
.hover04  img {
	width: 400px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover04:hover img {
	width: 300px;
}

/* Rotate */
.hover06 img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    

}
.hover06:hover img {
    -webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/*<!--=============== Gallery  ===============-->*/

.blocks-gallery-grid {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blocks-gallery-item__caption {
    width: 100%;
    background: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    top: -70px;
    position: relative;
    transition: top .9s ease;
}

.blocks-gallery-item {
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: self-end;
    overflow: hidden;
    img {
        display: block;
        height: 100%;
        position: relative;
        z-index: 100;
    }
    figcaption {
        position: relative;
        //opacity: 0;
        overflow: hidden;
    }
    &:hover {
        figcaption {
            opacity: 1;
            overflow: hidden;
        }
        .blocks-gallery-item__caption {
            top: 0;
        }
    }
}

.size-full {
    max-width: initial;
}

.columns-1 {
    li {
        min-width: 100%;
    }
}

.columns-2 {
    li {
        min-width: 50%;
    }
}

.columns-3 {
    li {
        min-width: 33.3%;
    }
}

.columns-4 {
    .blocks-gallery-item {
        img {
            height: auto;
        }
    }
    li {
        min-width: 25%;
    }
}

.columns-5 {
    .blocks-gallery-item {
        img {
            height: auto;
        }
    }
    li {
        min-width: 20%;
    }
}

.columns-6 {
    .blocks-gallery-item {
        img {
            height: auto;
        }
    }
    li {
        min-width: 15%;
    }
}

#formbasic {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: row;
        margin: 10% auto;
        justify-content: center;
        align-items: center;
    }
    .box {
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
    }
    h2 {
        color: black;
        margin: 0px;
        padding: 0px;
        font-size: 5vw;
    }
    form {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        border-top-style: solid;
        border-color: $menuHover;
        border-top-width: 5px;
        padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: 10%;
        fieldset {
            border: none;
        }
        label {
            line-height: 1.5;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            min-width: 20%;
            color:gray;
        }
        textarea#message {
            min-height: 150px;
            min-width: 80%;
        }
        input:not([type]),
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=url],
        input[type=time],
        input[type=date],
        input[type=datetime],
        input[type=datetime-local],
        input[type=tel],
        input[type=number],
        input[type=search],
        textarea.materialize-textarea {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 1rem;
            margin: 0 0 20px 0;
            padding: 0;
            box-shadow: none;
            box-sizing: content-box;
            transition: all 0.3s;
        }
    }
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    margin: 20px;
}
.send{
    text-decoration: none;
    color: #fff;
    background-color: $menuHover;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

/* Flashing */
.blocks-gallery-grid li {
    min-width: 50%;
}
.blocks-gallery-item figure:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}


/*<!--=============== MEDIAQUERY BEGINGS  ===============-->*/


/*<!--=============== IOS DEVICES ===============-->*/

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
}


/* --------- Desktop  si es amyor que ipad 780px  ------ */

@media only screen and (min-width: $ipad) {
    .pgindex {
        h1 {
            font-size: auto;
            line-height: 75px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }
        h2 {
            font-size: auto;
            line-height: 75px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }
        h3 {
            font-size: auto;
            line-height: 75px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }
        .mainText {
            font-size: auto;
            color: #504e4e;
            line-height: 34px;
            letter-spacing: 0.5px;
       
        }
    }
   

    .blocks-gallery-grid li {
        min-width: 33%;
    }
    .pgindex {
      
        .mainText {
            div {
                display: flex;
                flex-wrap: wrap;
            }
        }
    
        .boxes2 {
            div {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: left;
                 align-items: center;
                
            }
        }
    }


    .boxes4 div {
        display: flex;
        .box {
            width: 25%;
        }
    }

    .boxes2 div {
        display: flex;
        .box {
            width: 50%;
        }}


}


/* ----------- laptops si es mas grande que ipad pero heigh ----------- */

@media only screen and (min-width: $ipad) and (max-height: 970px) {}


/* ----------- iPad in landscape ----------- */

// @media only screen and (max-width: 778px) {
@media only screen and (max-device-width: $ipad) and (orientation: landscape) {}


/* ----------- smaller than 360px ----------- */

@media only screen and (min-device-width: 360px) {
    /*<!--=============== IOS DEVICES ===============-->*/
    @supports (-webkit-touch-callout: none) {
        /* CSS specific to iOS devices */
    }
    /*<!--=============== NOT IOS DEVICES ===============-->*/
    @supports not (-webkit-touch-callout: none) {
        /* CSS for other than iOS devices */
    }
}

//When keyboard is present hide slideshow
@media screen and (max-width: $ipad) and (max-height: 450px) {}